
        body
            {
            font-family: sans-serif;
            background-image: url(http://www.planwallpaper.com/static/images/6909249-black-hd-background.jpg);
            background-size: cover;
            background-attachment: fixed;
            }

        table
        {
            width: 100%;
        }

        table, th, td
        {
            border: 5px solid black;
            border-collapse: collapse;
            opacity: 0.85;
        }

        th, td
        {
            padding: 10px;
            text-align: center;
        }

        th
        {
            background-color: #a70000;
            color: white;
        }

        tr:nth-child(even)
        {
            background-color: #e8e8e8;
        }

        tr:nth-child(odd)
        {
            background-color: white;
        }