<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/answer.css">
    <title>ANSWER</title>
</head>
<body>
<h1>YOUR ANSWER</h1>
<form action="{{ url_for("give_answer") }}" type="POST"><<textarea name="message" rows="10" cols=60"
                                                                   required></textarea><input type="submit"
                                                                                              value="Submit"></form>
</body>
</html>